<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body border="1">
    <h1>Detail Checkup</h1>
    <h6>Doctor in Charge : <%= checkResult.Doctor.name %></h6><br>
    <h6>Patient Name : <%= checkResult.User.Profile.name %></h6><br>
    <h6>Diagnostic Result : <%= checkResult.Desease.name %></h6><br>
    <h6>Medication : <%= checkResult.medicine %></h6><br>
    <h6>Description</h6><br>
    <p><%= checkResult.description %></p>
</body>
</html>