<%- include('../partials/head',{user}); %>
    <h1>Detail Hasil Periksa</h1>
    <h6>Dokter yang Memeriksa : dr. <%= checkResult.Doctor.Profile.name %></h6>
    <h6>Nama Pasien : <%= checkResult.Patient.Profile.name %></h6>
    <h6>Tanggal Periksa : <%= checkResult.formatCreatedDate %></h6>
    <h6>Hasil Diagnosis : <%= checkResult.Desease.name %></h6>
    <h6>Obat : <%= checkResult.medicine %></h6>
    <h6>Deskripsi : </h6>
    <p><%= checkResult.description %></p>
<%- include('../partials/foot'); %>