<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hasil Periksa</h1>
    <a href="/doctor/<%= doctorId %>/checkResult">Buat Hasil Periksa Baru</a><br><br>
    <form action="" method="get">
        Filter :
        <a href="/doctor/<%= doctorId %>/checkResult?doctorId=<%= doctorId %>">Buatan Sendiri</a> ||
        <label>Buatan Dokter :</label>
        <select name="doctorId">
            <% doctors.forEach(d => { %>
                <option value="<%= d.id %>"><%= d.name %></option>
            <% }) %>
          </select> 
        <button type="submit">Filter</button> ||
        <a href="/doctor/<%= doctorId %>/checkResult">Lihat Semua</a>
    </form>  
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Dokter yang Memeriksa</th>
                <th>Nama Pasien</th>
                <th>Hasil Diagnosa</th>
                <th>Opsi</th>  
            </tr>
        </thead>
        <tbody>
            <% let i = 1 %> 
            <% checkResults.forEach(cr => { %>
                <tr>
                    <td><%= i %></td>
                    <td><%= cr.Doctor.name %></td>
                    <td><a href="/doctor/<%= doctorId %>/user/<%= cr.userId %>"><%= cr.User.Profile.name %></a></td>
                    <td><%= cr.Desease.name %></td>
                    <td>
                        <a href="/doctor/<%= doctorId %>/checkResult/<%= cr.id %>">Detail</a>
                        <% if (doctorId == cr.Doctor.id) { %>
                            <a href="/doctor/<%= doctorId %>/checkResult/delete/<%= cr.id %>">Delete</a>
                        <% } %>
                    </td>
                </tr>
                <% i = i + 1 %> 
            <% }) %>
        </tbody>
    </table>
</body>
</html>