<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Checkup Records</h1>
    <a href="/doctor/<%= doctorId %>/checkResult/add">Add New Checkups</a>
    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Doctor Name</th>
                <th>Patient Name</th>
                <th>Diagnostic Result</th>
                <th>Option</th>  
            </tr>
        </thead>
        <tbody>
            <% let i = 1 %> 
            <% checkResults.forEach(cr => { %>
                <tr>
                    <td><%= i %></td>
                    <td><%= cr.Doctor.name %></td>
                    <td><%= cr.User.Profile.name %></td>
                    <td><%= cr.Desease.name %></td>
                    <td>
                        <a href="/doctor/<%= doctorId %>/checkResult/<%= cr.id %>">Details</a>
                    </td>
                </tr>
                <% i = i + 1 %> 
            <% }) %>
        </tbody>
    </table>
</body>
</html>