<%- include('partials/head',{user}); %>
    <h1><%= result.name %></h1>
    <h3>Gejala: <%= result.Symptom.name %></h3>
    <table border="1">
        <tr>
            <th>Description</th>
            <th>Saran</th>
        </tr>
            <tr>
                <td><%=result.description%></td>
                <td><%=statusDisease(result.level)%></td>
            </tr>
    </table>
<%- include('partials/foot'); %>