<%- include('partials/head',{user}); %>
    <h1>Daftar Penyakit</h1>

    <form action="/desease">
        <label>Cari Nama Penyakit:</label><br>
        <input type="text" name="search">
        <button type="submit">Search</button>
    </form><br><br>

    <table border="1">
        <tr>
            <th>Nama Penyakit</th>
            <th>Gejala</th>
            <th>Action</th>
        </tr>
        <% result.forEach(el=>{%>
            <tr>
                <td><%=el.name%></td>
                <td><%=el.Symptom.name%></td>
                <td><a href="/desease/<%=el.id%>">See Details</a></td>
            </tr>
            <%})%>
    </table>
<%- include('partials/foot'); %>